[submodule "Assignment2/externals/lazycsv"]
	path = Assignment2/externals/lazycsv
	url = https://github.com/ashtum/lazycsv.git
[submodule "externals/lazycsv"]
	path = externals/lazycsv
	url = https://github.com/ashtum/lazycsv
